@model SOCITEY_MANAGEMENT.Models.House

@{
    ViewData["Title"] = "Edit House";
}

<style>
    body {
        min-height: 100vh;
        margin: 0;
        font-family: 'Segoe UI',sans-serif;
        background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('/images/addhouse.png');
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    body {
        background: #f6f7ff;
        font-family: 'Segoe UI',sans-serif;
    }

    .form-card {
        max-width: 550px;
        margin: 50px auto;
        padding: 30px;
        background: white;
        border-radius: 18px;
        box-shadow: 0 6px 14px rgba(0,0,0,0.06);
    }

        .form-card h2 {
            text-align: center;
            margin-bottom: 25px;
            color: #5a57a8;
        }

    .btn-soft {
        background: #8a87ff;
        color: white;
        border: none;
        border-radius: 8px;
        padding: 10px 18px;
    }

        .btn-soft:hover {
            background: #6f6be8;
        }

    .button-group {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 15px;
    }

</style>


<div class="form-card">

    <h2>Edit House</h2>

    <form asp-action="EditHouse" asp-controller="Admin" method="post">

        <input type="hidden" asp-for="HouseId" />

        <div class="mb-3">
            <label class="form-label">Society Id</label>
            <input asp-for="SocietyId" class="form-control" />
        </div>

        <div class="mb-3">
            <label class="form-label">House Number</label>
            <input asp-for="HouseNumber" class="form-control" />
        </div>

        <div class="mb-3">
            <label class="form-label">Block Number</label>
            <input asp-for="BlockNumber" class="form-control" />
        </div>

        <div class="mb-3">
            <label class="form-label">House Type</label>
            <input asp-for="HouseType" class="form-control" />
        </div>

        <div class="mb-3">
            <label class="form-label">Details</label>
            <input asp-for="Details" class="form-control" />
        </div>

        <div class="mb-3">
            <label class="form-label">Status</label>
            <select asp-for="Status" class="form-control">
                <option>Available</option>
                <option>Allocated</option>
            </select>
        </div>

        <div class="button-group">

            <button type="submit" class="btn btn-soft">
                Update House
            </button>

            <a asp-controller="Admin" asp-action="ViewHouses" class="btn btn-primary">
                Back to Houses
            </a>

            <a asp-controller="Admin" asp-action="Dashboard" class="btn btn-secondary">
                Back to Dashboard
            </a>

          

        </div>

    </form>

</div>